form#quicksearch {
    display: none;
}
#barTopMenu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    top: 30px;
}
#barTopMenu li {
    display: inline-block;
}
#barTopStudip {
    display: none;
}
#barTopStudip img {
    display: none;
}