form#quicksearch {
    display: none;
}
#barTopMenu {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    top: 5px;
}
#barTopMenu li {
    display: inline-block;
    float: none;
}
#barTopStudip {
    display: none;
}
#barTopStudip img {
    display: none;
}
#header {
    height: 60px;
}